/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}
html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: 428px;
  height: 200px;
}

a {
  color: inherit;
} 

header{
  background-color: #D7A1FD; 
}

h1{
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  padding: 20px 20px 10px 20px;
  font-size: 50px;
}

header p{
  color: white;
  font-family: 'Noto Serif', serif;
  text-transform: uppercase;
  font-size: 20px ;
  padding: 0 20px 20px 20px;
  text-align: center;
}

header p {
  font-family: 'Noto Serif', serif;

}
 nav{
  display: flex;
  justify-content: space-between;
  background: black; 
  color: white;
  padding:20px 30px;
  font-family: 'Noto Serif', serif;
  text-transform: uppercase;
  
 }
h2{
  font-size:50px ;
  font-family: Noto Serif;
  text-align: center;
  text-transform: uppercase;
  padding: 70px 20px 30px 20px; 
}

img{
  display: flex;
  flex-direction: row;
}

.Button{
  padding: 20px 30px;
  background-color: #000;
  color: #D7A1FD;
  margin: 50px;
  font-family: Nunito Sans;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  font-size: 16px;
}

.Verte{
  background-color:#98FB00 ;
  font-family: Nunito Sans;
  width: 428px;
  height: 200px;
}

.grand-text{
  font-size: 27px;
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  margin: 20px 30px;
}

 .short-text{
  font-family: Noto Serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  font-size: 15px;
 }

 .Beige{
  background-color: #F4EDE8;
 }

 .violet{
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  padding: 20px 20px 10px 10px;
  font-size: 40px;
  background-color: #D7A1FD;
}
 

 footer{
  background-color: #000;
  color: white;
 }

footer h1{
  color: #313131;
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  padding: 20px 20px 20px 50px;
  font-size: 50px;
}

h4{
  font-family: Nunito Sans;
  font-weight: 800;
  
}

footer p {
  font-family: Noto Serif;
}
.Contact{
  display: flex;
  flex-direction: column;
  text-align: center;
 }

 .Comms{
  display: flex;
  flex-direction: column;
  text-align: center;
 }

 .element{
  display: flex;
  background-color: #98FB00;
  padding: 20px ;
  font-family: Nunito Sans;
  text-transform: uppercase;
  margin: 20px 0 20px 0 ;
  font-size: 20px;

 }
